*~
.*swp
.*swo
.*swa
.*swn
*.apk
.DS_Store
_build
bin
gen
build.xml
proguard.cfg
local.properties
default.properties
project.properties
!android/SparkViewerBase/project.properties
iOS/Xcode_Simulator
iOS/Xcode_iPad
iOS/xcode_ios
_iOS_build
projects/DemoApp/Xcode_Ipad
projects/ACProjectView/xcode
projects/DemoApp/ios/Xcode
projects/DemoApp/Xcode_Simulator
projects/DemoApp/android/DemoApp/ant.properties
projects/DemoApp/android/DemoApp/build.properties
core/netsrc/boost/
.gitignore
README.html
